a {
    color: #333;
    text-decoration: none;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.service-card {
    margin-bottom: 10px;
    border-top: #333 solid 1px;
    width: 450px;
}

.image-and-button {
    display: flex;
    justify-content: start;
}

.info {
    background-color: #171C65;
    color: #ffe;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
}

.info.hover {
    background-color: #4A3084;
}